<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>NerLan</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.17</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.danielkao.NerLan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nerlan</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Ner Lan</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>nur lan</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>NerLan</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>nair lan</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_whisperasr._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>NerLan 會在區域網路上搜尋你自己架設的 whisperASR 轉錄伺服器，自動填入伺服器網址，省去手動輸入。不會掃描或回報網路上的其他任何東西。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>在跟讀練習中，NerLan 會錄下你朗讀句子的聲音，讓你和原音對照播放、比較自己的發音。錄音只會留在這台裝置上，不會上傳。</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.danielkao.NerLan</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>NerLan</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
